html,
body {
  padding: 0;
  margin: 0;
  background-color: #DFD1E3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  /* cursor: url("/assets/cursor/normal.png"), default; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown-toggle[aria-expanded="true"] {
  background:#FFF !important;
  color: #1D0C26 !important;
}

/* Scroll Bar Specific*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1D0C26;
  border-radius: 1rem;
}

/* Buttons For Scroll Bar */
::-webkit-scrollbar-button:single-button {
  background-color: none;
  display: block;
  border-style: solid;
  height: 10px;
  width: 10px;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #1D0C26 transparent;
}
/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 5px 5px 0 5px;
  border-color: #1D0C26 transparent transparent transparent;
}
/* Left Arrow */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 5px 5px 5px 0;
  border-color: transparent #1D0C26 transparent transparent;
}
/* Right Arrow */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #1D0C26;
}

